<h1 class="text-3xl text-center font-bold mb-6">Trending on Naukri today</h1>

<div class="flex justify-between items-center max-w-md mx-auto">
  <div class="flex flex-col items-center">
    <img
      src="https://static.naukimg.com/s/0/0/i/trending-naukri/remote.svg"
      alt=""
    />
    <p class="text-center font-medium text-lg">Remote</p>
    <span class="text-center">5.5k + jobs</span>
  </div>

  <div class="flex flex-col items-center">
    <img
      src="https://static.naukimg.com/s/0/0/i/trending-naukri/mnc.svg"
      alt=""
    />
    <p class="text-center font-medium text-lg">MNC</p>
    <span class="text-center">19.5k + jobs</span>
  </div>

  <div class="flex flex-col items-center">
    <img
      src="https://static.naukimg.com/s/0/0/i/trending-naukri/engineering.svg"
      alt=""
    />
    <p class="text-center font-medium text-lg">Engineering</p>
    <span class="text-center">8.7k + jobs</span>
  </div>
</div>
<h1 class="text-3xl text-center font-bold my-6">
  Featured companies actively hiring
</h1>
<div class="flex justify-between items-center max-w-2xl mx-auto">
  <div class="flex flex-col items-center">
    <img
      src="https://img.naukimg.com/logo_images/groups/v2/226728.gif"
      alt=""
    />
    <p class="text-center font-medium text-lg">L&T Infotech (LTI)</p>
    <span class="text-center">8.7k + jobs</span>
  </div>

  <div class="flex flex-col items-center">
    <img
      src="    https://img.naukimg.com/logo_images/groups/v2/58550.gif"
      alt=""
    />
    <p class="text-center font-medium text-lg">FIITJEE</p>
    <span class="text-center">8.7k + jobs</span>
  </div>

  <div class="flex flex-col items-center">
    <img
      src="    https://img.naukimg.com/logo_images/groups/v2/1288.gif
        "
      alt=""
    />
    <p class="text-center font-medium text-lg">Capgemini</p>
    <span class="text-center">8.7k + jobs</span>
  </div>

  <div class="flex flex-col items-center">
    <img
      src="    https://img.naukimg.com/logo_images/groups/v2/419316.gif
        "
      alt=""
    />
    <p class="text-center font-medium text-lg">Software &It</p>
    <span class="text-center">8.7k + jobs</span>
  </div>
</div>
