<!--Container-->
<div class="container w-full md:w-4/5 xl:w-3/5 mx-auto px-2">
  <!--Title-->
  <h1
    class="flex items-center font-sans font-bold break-normal text-indigo-500 px-2 py-8 text-xl md:text-2xl"
  >
    My Applied Job
  </h1>

  <!--Card-->
  <div id="recipients" class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
    <table
      id="example"
      class="stripe hover"
      style="width: 100%; padding-top: 1em; padding-bottom: 1em"
    >
      <thead>
        <tr>
          <th data-priority="1">STT</th>
          <th data-priority="2">Job Id</th>
          <th data-priority="3">Job Name</th>
          <th data-priority="4">appliedDate</th>
          <th data-priority="5">applcationStatus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobList; let i = index">
          <td class="text-center">{{ i + 1 }}</td>
          <td class="text-center">{{ job.jobId }}</td>
          <td class="text-center">{{ job.jobName }}</td>
          <td class="text-center">{{ job.appliedDate }}</td>
          <td class="text-center">{{ job.applcationStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--/Card-->
</div>
<!--/container-->
