<nav
  class="w-full flex justify-between items-center fixed top-0 shadow px-[100px] py-4 bg-white z-10"
>
  <div class="flex space-x-6">
    <img
      src="../assets/NaukriLogoOneTheme.png"
      alt=""
      class="w-48 object-cover hover:cursor-pointer"
      routerLink=""
    />
    <ul class="flex items-center justify-between space-x-4 px-8">
      <li>
        <a
          href=""
          class="text-lg hover:opacity-60 transition font-medium"
          routerLink="/jobs"
          >Jobs</a
        >
      </li>

      <li *ngIf="userRole == 'JobSeeker'">
        <a
          href=""
          class="text-lg hover:opacity-60 transition font-medium"
          routerLink="/myappliedjob"
          >My applied job</a
        >
      </li>

      <li *ngIf="isEmployer">
        <a
          href=""
          class="text-lg hover:opacity-60 transition font-medium"
          routerLink="/createjob"
          >Create a new job</a
        >
      </li>

      <li *ngIf="isEmployer">
        <a
          href=""
          class="text-lg hover:opacity-60 transition font-medium"
          routerLink="/mycreatedjob"
          >My created job</a
        >
      </li>
    </ul>
  </div>

  <div class="flex space-x-2 items-center">
    <button
      *ngIf="!isLoggedIn"
      routerLink="/login"
      class="border-sky-200 border-2 text-lg font-semibold text-sky-500 rounded-full px-6 py-2 hover:opacity-60 hover:bg-sky-500 hover:text-white transition"
    >
      Login
    </button>
    <button
      *ngIf="!isLoggedIn"
      routerLink="/register"
      class="text-lg font-semibold bg-red-600 outline-none text-white rounded-full p-2 hover:opacity-60 transition"
    >
      Register
    </button>

    <h2 *ngIf="isLoggedIn" class="text-lg font-bold">
      Welcome <span class="text-sky-600">{{ loginAccount.userName }}</span>
    </h2>
    <button
      routerLink=""
      class="text-lg font-semibold bg-red-600 outline-none text-white rounded-full px-3 py-2 hover:opacity-60 transition"
      *ngIf="isLoggedIn"
      (click)="logout()"
    >
      Log out
    </button>
  </div>
</nav>

<div class="container mx-auto mt-32 bg-[#faf9fc] h-screen px-[100px]">
  <router-outlet></router-outlet>
</div>

<ng-toast class="mt-48" [style]="{ width: '300px' }"></ng-toast>
